.site-header {
	position: absolute;
	width: 100%;
	padding: 2em 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.custom-logo-link {
	display: flex;
}

.custom-logo {
	filter: brightness(200);
	width: 18rem;
}
