* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background: #fff;
	font-family: optimizewp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	line-height: 1.5;
	margin: 0;
	font-size: var(--font-size);
	-webkit-font-smoothing: antialiased;
	color: var(--color-body);
}

h1, h2, h3, h4, h5, h6 {
	font-weight: var(--font-weight-medium);
	line-height: 1.2;
	margin: 0 0 var(--font-size);
	color: var(--color-heading);
}

h1 {
	font-size: var(--font-size-h1);
	margin-bottom: 0.5em;
}

h2 {
	font-size: var(--font-size-h2);
}

h3 {
	font-size: var(--font-size-h3);
}

h4 {
	font-size: var(--font-size-h4);
}

h5 {
	font-size: var(--font-size-h5);
}

h6 {
	font-size: var(--font-size-h6);
}

button,
.button,
.wp-block-button__link {
	color: var(--button-color, var(--color-heading));
	background: var(--button-background, var(--color-primary));
	padding: var(--button-padding, 1em 3em);
	text-decoration: none;
	border-radius: var(--border-radius);
	font-weight: var(--font-weight-medium);
	font-size: var(--button-font-size, var(--font-size));
}

.white {
	--button-background: var(--color-white);
}

.small {
	--button-padding: 1em 2em;
	--button-font-size: smaller;
}

.wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	max-width: var(--wrap-width);
	width: 90%;
	margin: 0 auto;
}

.content {
	max-width: var(--content-width);
	margin: 0 auto;
}

.entry-header {
	background: var(--entry-header-background, transparent);
}
