
:root {
	--color-white: #fff;
	--color-black: #000;
	--color-primary: #0c47f0;
	--color-secondary: #0078ff;
	--color-body: #333;
	--color-heading: #222;
	--wrap-width: 1152px;
	--content-width: 1024px;
	--spacing: 10rem;
	--border-radius: 4px;
	--font-size: 1.6rem;
	--font-size-h1: calc(var(--font-size) * 3.3);
	--font-size-h2: calc(var(--font-size) * 2);
	--font-size-h3: calc(var(--font-size) * 1.3);
	--font-size-h4: calc(var(--font-size) * 1.2);
	--font-size-h5: calc(var(--font-size) * 1.1);
	--font-size-h6: calc(var(--font-size) * 1);
	--font-weight-regular: 400;
	--font-weight-medium: 500;
}
