////
/// Color settings.
///
/// @group  Settings
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://seothemes.com/themes/genesis-starter-theme
////

// Palette
$color--blue: #0c47f0;
$color--indigo: #6610f2;
$color--purple: #6f42c1;
$color--pink: #e83e8c;
$color--red: #dc3545;
$color--orange: #fd7e14;
$color--yellow: #ffc107;
$color--green: #28a745;
$color--teal: #20c997;
$color--cyan: #17a2b8;

// Grayscale
$color--black: #2b303d;
$color--gray-900: lighten($color--black, 10%);
$color--gray-800: lighten($color--black, 20%);
$color--gray-700: lighten($color--black, 30%);
$color--gray-600: lighten($color--black, 40%);
$color--gray-500: lighten($color--black, 50%);
$color--gray-400: lighten($color--black, 60%);
$color--gray-300: lighten($color--black, 70%);
$color--gray-200: lighten($color--black, 80%);
$color--gray-100: lighten($color--black, 90%);
$color--white: #fff;

// Theme
$color--primary: #0c47f0;
$color--secondary: #0078ff;
$color--success: $color--green;
$color--info: $color--blue;
$color--warning: $color--yellow;
$color--error: $color--red;
$color--light: $color--gray-300;
$color--medium: $color--gray-500;
$color--dark: $color--black;
$color--heading: $color--black;
$color--text: $color--gray-800;
$color--border: $color--gray-300;
$color--background: $color--gray-300;
$color--muted: $color--gray-400;
$color--overlay: rgba($color--gray-300, 0.15);

// Social
$color--dribbble: #ea4c89;
$color--email: #049fb3;
$color--facebook: #3b5998;
$color--flickr: #ff0084;
$color--github: #333;
$color--gplus: #dd4b39;
$color--linkedin: #007bb6;
$color--pinterest: #bd081c;
$color--rss: #f60;
$color--stumbleupon: #eb4823;
$color--tumblr: #32506d;
$color--twitter: #1da1f2;
$color--vimeo: #aad450;
$color--youtube: #f00;
$color--snapchat: #fffc00;
$color--instagram: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);

$colors: (
	"primary": $color--primary,
	"secondary": $color--secondary,
	"success": $color--success,
	"info": $color--info,
	"warning": $color--warning,
	"error": $color--error,
	"light": $color--light,
	"medium": $color--medium,
	"dark": $color--dark,
	"heading": $color--heading,
	"text": $color--text,
	"border": $color--border,
	"background": $color--background,
	"muted": $color--muted,
	"overlay": $color--overlay,

	"blue": $color--blue,
	"indigo": $color--indigo,
	"purple": $color--purple,
	"pink": $color--pink,
	"red": $color--red,
	"orange": $color--orange,
	"yellow": $color--yellow,
	"green": $color--green,
	"teal": $color--teal,
	"cyan": $color--cyan,

	"white": $color--white,
	"gray-100": $color--gray-100,
	"gray-200": $color--gray-200,
	"gray-300": $color--gray-300,
	"gray-400": $color--gray-400,
	"gray-500": $color--gray-500,
	"gray-600": $color--gray-600,
	"gray-700": $color--gray-700,
	"gray-800": $color--gray-800,
	"gray-900": $color--gray-900,
	"black": $color--black,
);
