////
/// Site header object.
///
/// @group  Objects
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

.site-header {
	position: absolute;
	z-index: 10;
	border-bottom: 1px solid rgba(255,255,255,0.15);

	.wrap {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		@include mq(m) {
			flex-wrap: nowrap;
		}
	}
}
