/*
 * Theme Name: OptimizeWP
 * Theme URI: https://optimizewp.com/
 * Author: OptimizeWP
 * Author URI: https://optimizewp.com/
 * Description: Genesis starter theme with a modern development workflow.
 * Version: 1.0.0
 * License: GPL-2.0-or-later
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * Text Domain: optimizewp
 * Domain Path: /assets/lang
 * Template: genesis
 */
