////
/// Before header component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

.before-header {
	padding: 1em 0;
	color: $color--white;
	background-color: $color--heading;
	font-size: small;
	line-height: 1;
	text-align: center;

	.wrap {
		align-items: center;
	}

	.widget {
		margin-bottom: 0;
	}

	p,
	button,
	.button {
		margin-bottom: 0;
	}
}
