////
/// Front page component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

[class*="front-page-"] {
	width: 100%;
	padding: $spacing--xl 0 $spacing--xl - $gutter;

	@include mq(m) {
		padding: $spacing--xxl 0 $spacing--xxl - $gutter;
	}
}

.front-page {

	&-1 {
		padding: $spacing--xxl 0 $spacing--xxl - $gap;

		@include mq(m) {
			padding: $spacing--xxxl 0 $spacing--xxxl - $gap;
		}

		.wrap {
			margin-top: 12rem;
		}
	}

	&-2 {
		text-align: center;
	}

	&-5 {
		padding: $spacing--xl 0 $spacing--xl - $gutter;
		background-color: $color--background;
	}

	&-logos {
		background-color: $color--overlay;
		text-align: center;

		@include mq(m) {
			padding: $spacing--xl 0 $spacing--xl - $gutter;
		}

		.wrap {
			align-items: center;
		}

		img {
			filter: grayscale(1) opacity(0.6);
			padding: 1em;
		}
	}
}

